<template>
  <div>
    <p>General tab.</p>
    <form v-on:submit.prevent="addCourse">
      Title: <input type="text" v-model="newCourse.title"/>
      Description: <input type="text" v-model="newCourse.description"/>
      Cost: <input type="text" v-model="newCourse.cost"/>
      <input type="submit" value="Create"/>
    </form>
    <table>
      <thead>
        <tr><th v-for="header in headers" v-bind:key="header">{{ header }}</th></tr>
      </thead>
      <tbody>
        <tr v-for="course in courses" v-bind:key="course.id">
          <td v-for="property in course" v-bind:key="property">{{ property }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  data() {
    return {
      newCourse: {
        title: 'Course Title',
        description: 'Course Description',
        cost: 'Course Cost',
        icon: 'test',
        picture: 'picture',
        dates: 'dates',
        agenda: 'agenda',
      },
      courses: [],
    };
  },
  computed: {
    headers() {
      let headers = [];
      if (this.courses[0]) {
        headers = Object.keys(this.courses[0]);
      }
      return headers;
    },
  },
  methods: {
    async fetchCourses() {
      fetch(`${process.env.VUE_APP_CQRS_URL}/catalog/courses/`)
        .then(response => response.json())
        .then((data) => {
          console.log('Data:', data);
          this.courses = data;
        })
        .catch(error => console.error(error));
    },
    async addCourse() {
      console.log('Add Course', this.newCourse);
      fetch(`${process.env.VUE_APP_CQRS_URL}/catalog/courses/`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(this.newCourse),
      })
        .then(response => console.log('Creation result:', response))
        .then(() => this.fetchCourses())
        .catch(error => console.error(error));
    },
  },
  mounted() {
    this.fetchCourses();
  },
};
</script>
<style>
table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #42b983;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}
</style>
