<template>
<div>
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>
  <div class="w3-row-padding w3-margin-bottom">
    <div v-bind:key="dash.color" v-for="dash in dashes" class="w3-quarter">
      <div :class="dash.color" class="w3-container w3-text-white w3-padding-16">
        <div class="w3-left"><i :class="dash.icon" class="fa w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ dash.quantity }}</h3>
        </div>
        <div class="w3-clear"></div>
          <h4>{{ dash.text }}</h4>
        </div>
      </div>
    </div>
</div>
</template>
<script>
module.exports = {
  data() {
    return {
      dashes: [
        {
          icon: 'fa-comment', color: 'w3-red', quantity: '52', text: 'Messages',
        },
        {
          icon: 'fa-eye', color: 'w3-blue', quantity: '99', text: 'Views',
        },
        {
          icon: 'fa-share-alt', color: 'w3-teal', quantity: '23', text: 'Shares',
        },
        {
          icon: 'fa-users', color: 'w3-orange', quantity: '50', text: 'Users',
        },
      ],
    };
  },
};
</script>
