<template>
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h5>Regions</h5>
        <img src="/w3images/region.jpg" style="width:100%" alt="Google Regional Map">
      </div>
      <div class="w3-twothird">
        <h5>Feeds</h5>
        <table class="w3-table w3-striped w3-white">
          <tr v-for="feed in feeds" v-bind:key="feed.icon">
            <td><i :class="feed.icon" class="fa  w3-large"></i></td>
            <td>{{ feed.text }}</td>
            <td><i>{{ feed.timestamp }}</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      feeds: [
        { icon: 'fa-user w3-text-blue', text: 'New record, over 90 views.', timestamp: '10 mins' },
        { icon: 'fa-bell w3-text-red', text: 'Database error.', timestamp: '15 mins' },
        { icon: 'fa-users w3-text-yellow', text: 'New record, over 40 users.', timestamp: '17 mins' },
        { icon: 'fa-comment w3-text-red', text: 'New comments.', timestamp: '25 mins' },
        { icon: 'fa-bookmark w3-text-blue', text: 'Check transactions.', timestamp: '28 mins' },
        { icon: 'fa-laptop w3-text-red', text: 'CPU overload.', timestamp: '35 mins' },
        { icon: 'fa-share-alt w3-text-green', text: 'New shares.', timestamp: '39 mins' },
      ],
    };
  },
};
</script>
