<template>
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>{{ title }}</h4>
    <p>Powered by <a href="https://practic.gitlab.io" target="_blank">Practicio</a></p>
  </footer>
</template>
<script>
module.exports = {
  props: ['title'],
};
</script>
