<template>
  <div>
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left"
      style="z-index:3;width:300px;" id="mySidebar">
      <br>
      <principal :name="name" :avatar="avatar"></principal>
      <hr>
      <div class="w3-container">
        <h5>Dashboard</h5>
      </div>
      <div class="w3-bar-block">
        <a href="#"
          class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
          v-on:click="click" title="close menu">
          <i class="fa fa-remove fa-fw"></i>
          Close Menu
        </a>
        <a v-for="item in dashboards" v-bind:key="item.text"
          v-on:click="navigate(item.text)" :href="item.reference"
          class="w3-bar-item w3-button w3-padding" :class="item.activeclass">
          <i :class="item.icon" class="fa fa-fw"></i>
          {{ item.text }}
        </a>
      </div>
    </nav>
    <div class="w3-overlay w3-hide-large w3-animate-opacity"
      v-on:click="click" style="cursor:pointer" title="close side menu" id="myOverlay">
    </div>
  </div>
</template>
<script>
import Principal from './Principal.vue';

export default {
  props: ['name', 'avatar'],
  data() {
    return {
      dashboards: [
        {
          icon: 'fa-users', reference: '#', activeclass: 'w3-blue', text: 'Overview',
        },
        { icon: 'fa-eye', reference: '#', text: 'Analytica' },
        { icon: 'fa-users', reference: '#', text: 'User Management' },
        { icon: 'fa-bullseye', reference: '#', text: 'Geo' },
        { icon: 'fa-diamond', reference: '#', text: 'Orders' },
        { icon: 'fa-bell', reference: '#', text: 'News' },
        { icon: 'fa-bank', reference: '#', text: 'General' },
        { icon: 'fa-history', reference: '#', text: 'History' },
        { icon: 'fa-cog', reference: '#', text: 'Settings' },
      ],
    };
  },
  methods: {
    click() {
      const mySidebar = document.getElementById('mySidebar');
      const overlayBg = document.getElementById('myOverlay');
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = 'none';
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = 'block';
      }
    },
    navigate(nav) {
      this.$emit('update:currentnav', nav);
    },
  },
  components: {
    Principal,
  },
};
</script>
<style scoped>
</style>
