<template>
  <div>
    <feed></feed>
    <stats></stats>
    <stats-countries></stats-countries>
    <recent-users></recent-users>
    <recent-comments></recent-comments>
    <something></something>
  </div>
</template>
<script>
import Feed from './Feed.vue';
import Stats from './Stats.vue';
import StatsCountries from './StatsCountries.vue';
import RecentUsers from './RecentUsers.vue';
import RecentComments from './RecentComments.vue';
import Something from './Something.vue';

export default {
  components: {
    Feed, Stats, StatsCountries, RecentUsers, RecentComments, Something,
  },
};
</script>
