<template>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img :src="avatar" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>{{ name }}</strong></span><br>
      <a v-for="item in menuitems" v-bind:key="item.icon" :href="item.reference"
        class="w3-bar-item w3-button">
        <i class="fa" :class="item.icon"></i>
      </a>
    </div>
  </div>
</template>
<script>
export default {
  props: ['name', 'avatar'],
  data() {
    return {
      menuitems: [
        { icon: 'fa-envelope', reference: '#' },
        { icon: 'fa-user', reference: '#' },
        { icon: 'fa-cog', reference: '#' },
      ],
    };
  },
};
</script>
