<template>
<div class="w3-container">
  <h5>Recent Comments</h5>
  <div class="w3-row" v-bind:key='comment.datetime' v-for='comment in comments'>
    <div class="w3-col m2 text-center">
      <img class="w3-circle" :src="comment.avatar" style="width:96px;height:96px">
    </div>
    <div class="w3-col m10 w3-container">
      <h4>{{ comment.author }}
        <span class="w3-opacity w3-medium">{{ comment.datetime }}</span>
      </h4>
      <p>{{ comment.text }}</p>
      <br>
    </div>
  </div>
  <br>
</div>
</template>
<script>
module.exports = {
  data() {
    return {
      comments: [
        {
          avatar: '/w3images/avatar3.png',
          author: 'John',
          datetime: 'Sep 29, 2014, 9:12 PM',
          text: 'Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
        },
        {
          avatar: '/w3images/avatar1.png',
          author: 'Bo',
          datetime: 'Sep 28, 2014, 10:15 PM',
          text: 'Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
        },
      ],
    };
  },
};
</script>
<style scoped>
</style>
