<template>
  <div>
    <hr>
    <div class="w3-container">
      <h5>General Stats</h5>
      <element v-for="stat in stats" v-bind:key="stat.title">
        <p>{{ stat.title }}</p>
        <div class="w3-grey">
          <div :class="stat.color"
            class="w3-container w3-center w3-padding"
            v-bind:style="{width: stat.width +'%'}">
            {{ stat.value }}
          </div>
        </div>
      </element>
    </div>
    <hr>
  </div>
</template>
<script>
export default {
  data() {
    return {
      stats: [
        {
          title: 'New Visitors', color: 'w3-green', value: '+25%', width: '25',
        },
        {
          title: 'New Users', color: 'w3-orange', value: '50%', width: '50',
        },
        {
          title: 'Bounce Rate', color: 'w3-red', value: '75%', width: '75',
        },
      ],
    };
  },
};
</script>
