<template>
  <div id="app">
    <top-panel :title="school.title"></top-panel>
    <navigation :name="admin.firstname" :avatar="admin.avatar"
      v-on:update:currentnav="currentnav = $event">
    </navigation>
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
      <dashboard></dashboard>
      <component v-bind:is="currentNavComponent"></component>
      <footer :title="school.title"></footer>
    </div>
  </div>
</template>
<script>
import TopPanel from './components/TopPanel.vue';
import Navigation from './components/Navigation.vue';
import Dashboard from './components/Dashboard.vue';
import Overview from './components/Overview.vue';
import General from './components/general/General.vue';

export default {
  data() {
    return {
      currentnav: 'Overview',
      admin: { firstname: 'Precious Panda', avatar: '/w3images/avatar2.png' },
      school: { title: 'SITsChool' },
    };
  },
  computed: {
    currentNavComponent() {
      return this.currentnav.replace(' ', '-').toLowerCase();
    },
  },
  components: {
    TopPanel, Navigation, Dashboard, Overview, General,
  },
};
</script>
